@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --darkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    background-color: var(--lightGrayishMagenta);
}

body {
    font-family: "League Spartan", sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    margin: auto;
    border-radius: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
}

.text-container h1 {
    color: var(--darkMagenta);
    text-align: center;
    font-size: 2rem;
}

.text-container p {
    color: var(--darkGrayishMagenta);
    text-align: center;
    font-size: 1rem;
    margin: 10px 0;
}

.rated-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 10px 0;
    width: 100%;
    height: 238px;
}

.rated {
    background-color: var(--lightGrayishMagenta);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.img-star {
    background: url(images/icon-star.svg) repeat top center;
    height: 16px;
    width: 84px;
}

.rated p {
    color: var(--darkMagenta);
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

.comment-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--darkMagenta);
    border-radius: 5px;
    margin: 5px 0;
    padding: 25px;
    max-width: 360px;
}

.comment-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 40px;
    margin-bottom: 20px;
}

.comment-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-user h2, h3 {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
}

.comment-user h3 { color: var(--softPink); }
.comment-container p { text-align: left; }

@media screen and (min-width: 992px) {
    main {
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
        flex-wrap: wrap;
        padding: 60px;
        max-width: 992px;
        max-height: 600px;
    }

    .text-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .text-container h1 {
        font-size: 2.5rem;
        text-align: left;
    }

    .text-container p {
        font-size: 1.2rem;
        text-align: justify;
        margin: 30px 0;
    }

    .rated-container {
        flex-direction: column;
        align-content: center;
        margin: 0 0;
        max-width: 400px;
    }

    .rated {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 400px;
        height: 50px;
        transition: transform 1s ease; 
    }
    
    .rated p { margin-top: 0; }
    .rated#rated1 { transform: translateX(-60px); }
    .rated#rated2 { transform: translateX(-30px); }

    .comment-container {
        margin: 30px 0 0 0;
        max-width: 280px;
        transition: transform 1s ease; 
    }

    .comment-container#comment1 { transform: translateY(-20px); }
    .comment-container#comment3 { transform: translateY(20px); }
}